<% provide(:title, @user.name) %>
<div class="row">
  	<aside class="col-md-4">
	    	<section class="user_info">
		      	<h1>
		        		<%= gravatar_for @user %>
		        		<%= @user.name %>
		        		<% if @user.posts.any? %>
		        			<h3>posts (<%= @user.posts.count %>)</h3>
		        		<% end %>
		      	</h1>
	    	</section>
  	</aside>
</div>