/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
body {
  padding-top: 70px;
  padding-bottom: 50px;
}

footer {
  margin-top: 30px;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  bottom: 0;
}

#fb-share {
  position: absolute;
  right: 10px;
  top: -45px;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
}



.gmnoprint{margin-left: 16%;}
 #map-canvas {
  height: 400px;
  width :700px;
  margin: 0px;
  padding: 0px
 }
 #panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
 }
thead{font-weight: bold;}
#err{background: red}
#searchbox {
  padding: 2px 5px;
  width: 250px;
  background:  #66CC66;
  margin-left: 79%;

}

.post-id-image, .description-para {
  border: 1px solid black;
}
.phucdine {
  height: 115px;
  height: 115px;
  overflow: hidden;
}