<div id="wd-footer-container">
	<div class="container-fluid">		
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="color: black">Copyright © VoThiPhuc, 2015</p>        
			</div>
		</div>
	</div>
</div>

